
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Agua Gold</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;" routerLink="/main">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/client">
              <span data-feather="file"></span>
              Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/mainproducto">
              <span data-feather="shopping-cart"></span>
              Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/mainflota">
              <span data-feather="shopping-cart"></span>
              Administración de Flota
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/Reporte">
              <span data-feather="bar-chart-2"></span>
              Reporte
            </a>
          </li>

        </ul>



      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="goPedido()">Nuevo Pedido</button>
          </div>

        </div>
      </div>


      <h2>Pedidos Pendientes</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Dirección</th>
              <th>Comuna</th>
              <th>Cliente</th>
              <th>Estado</th>
              <th>Total</th>
              <th>Móvil</th>
              <th>Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of pedidos | async">
              <td>{{p.calle+" "+p.numero+" "+p.extra}}</td>
              <td>{{p.comuna}}</td>
              <td>{{p.nombre+" "+p.apellido}}</td>
              <td>{{p.estado}}</td>
              <td>{{p.total}}</td>
              <td>{{p.movil}}</td>
              <td><fa-icon [icon]="['fas','search']" (click)="detallePedido(p.id)"></fa-icon></td>
            </tr>







          </tbody>
        </table>
      </div>
      <h2>Vista Mapa </h2>

      <div>
        <agm-map [latitude]="-33.492246" [longitude]="-70.651889" [zoom]="15">

  <agm-marker *ngFor="let p of pedidos | async" [latitude]="p.lat" [longitude]="p.lng"></agm-marker>
  <agm-marker *ngFor="let ps of posiciones | async" [latitude]="ps.lat" [longitude]="ps.lng"
  [iconUrl]="{
    url: './assets/truck.png',
    scaledSize: {
          width: 40,
          height: 60
      }
  }"

  >
    <agm-info-window>Movil: {{ps.patente}}



    </agm-info-window>

  </agm-marker>


</agm-map>
        </div>
    </main>
  </div>
</div>
