
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Agua Gold</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " href="javascript:;" routerLink="/main">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;" routerLink="/listaclientes">
              <span data-feather="file"></span>
              Clientes  <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/mainproducto">
              <span data-feather="shopping-cart"></span>
              Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/mainflota">
              <span data-feather="shopping-cart"></span>
              Administración de Flota
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/Reporte">
              <span data-feather="bar-chart-2"></span>
              Reporte
            </a>
          </li>

        </ul>


      </div>
    </nav>
    ---
    layout: examples
    title: Checkout example
    extra_css: "form-validation.css"
    extra_js: "form-validation.js"
    body_class: "bg-light"
    ---

    <div class="container">
      <div class="py-5 text-center">
        <h2> Buscar Clientes</h2>

      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Últimos Pedidos</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">2 Bidones</h6>
                <small class="text-muted">Vicuña Mackenna 2345</small>
              </div>
              <span class="text-muted">$5000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">1 Bidón</h6>
                <small class="text-muted">Las Acacias 2345 Dpto 12</small>
              </div>
              <span class="text-muted">$2500</span>
            </li>



          </ul>

          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="nuevoCliente()">Nuevo Cliente</button>
          </div>
        </div>


        <div class="col-md-8 order-md-1">


            <div class="mb-3">
              <label for="username">  Apellido / RUT / Dirección</label>
              <div class="input-group">
                <input type="text" class="form-control" id="searchDireccion" #searchDireccion placeholder="Escriba Calle " required>
                <div class="invalid-feedback" style="width: 100%;">
                </div>
              </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Direccion</th>
                  <th scope="col">Comuna</th>
                  <th scope="col">Nombre Cliente</th>
                  <th scope="col">Pedido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cl of clientsdir | async" >

                    <td>
                      {{ cl.calle +" "+cl.numero+" "+" "+cl.extra}}
                      </td>
                      <td>
                        {{cl.comuna}}
                        </td>
                      <td>
                        {{ cl.nombre +" "+ cl.apellido}}
                        </td>
                        <td>
                              <button class="btn" (click)="detalleCliente(cl.id)">Ver Cliente</button>
                          </td>
                          </tr>
                          <tr *ngFor="let cln of clientsnom | async" >

                            <td>
                              {{ cln.calle +" "+cln.numero+" "+" "+cln.extra}}
                              </td>
                              <td>
                                {{cln.comuna}}
                                </td>
                              <td>
                                {{ cln.nombre +" "+ cln.apellido}}
                                </td>
                                <td>
                                      <button class="btn" (click)="detalleCliente(cln.id)">Ver Cliente</button>
                                  </td>
                                  </tr>
                                  <tr *ngFor="let clr of clientsrut | async" >

                                    <td>
                                      {{ clr.calle +" "+clr.numero+" "+" "+clr.extra}}
                                      </td>
                                      <td>
                                        {{clr.comuna}}
                                        </td>
                                      <td>
                                        {{ clr.nombre +" "+ clr.apellido}}
                                        </td>
                                        <td>
                                              <button class="btn" (click)="detalleCliente(clr.id)">Ver Cliente</button>
                                          </td>
                                          </tr>
                  </tbody>
              </table>




            <hr class="mb-4">

            <button class="btn btn-primary btn-lg btn-block" (click)="buscarDireccion()">Buscar</button>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">2019</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

  </div>
</div>
