
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Agua Gold</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " href="javascript:;" routerLink="/main">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;" routerLink="/listaclientes">
              <span data-feather="file"></span>
              Clientes  <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/mainproducto">
              <span data-feather="shopping-cart"></span>
              Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/mainflota">
              <span data-feather="shopping-cart"></span>
              Administración de Flota
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/Reporte">
              <span data-feather="bar-chart-2"></span>
              Reporte
            </a>
          </li>

        </ul>


      </div>
    </nav>
    ---
    layout: examples
    title: Checkout example
    extra_css: "form-validation.css"
    extra_js: "form-validation.js"
    body_class: "bg-light"
    ---

    <div class="container">
      <div class="py-5 text-center">
        <h3>Nuevo Pedido</h3>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Pedido</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li *ngFor="let p of productsCarro | async" class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{p.nombreproducto}}</h6>
                <small class="text-muted">{{p.cantidad}}</small>
              </div>
              <span class="text-muted">{{p.precio * p.cantidad}}</span>
            </li>




          </ul>

          <div class="btn-group mr-2">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="finalizaPedido(client.id)">Finalizar Pedido</button>
          </div>
        </div>
        <div class="col-md-8 order-md-1">

          <div class="card">
            <div class="card-header">
              Datos de Cliente
            </div>
            <div class="card-body">
              <h5 class="card-title">{{client.nombre+" "+client.apellido }}</h5>
              <p class="card-text">{{client.calle+" "+client.numero+" "+client.extra}}</p>
            </div>
          </div>
            <hr class="mb-4">
            <div class="row">
              <div class="col-md-8 mb-5">
                <label for="country">Producto</label>
                <select id=productoInput #productoInput class="custom-select d-block w-100" id="country" required>
                  <option *ngFor="let pd of products | async" [value]="pd.id" >{{pd.nombreProducto+" "+pd.precio}}</option>


                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state">Cantidad</label>
                <select id=cantidadInput #cantidadInput class="custom-select d-block w-100" id="state" required>
                  <option value="">Elegir Cantidad...</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                  <option value=8>8</option>
                  <option value=9>9</option>
                  <option value=10>10</option>
                  <option value=11>11</option>
                  <option value=12>12</option>

                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" (click)="guardaProducto(client.id, client.nombre,client.apellido,client.calle,client.numero,client.extra, client.comuna,client.lat,client.lng)">Ingresar Producto</button>

        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">2019</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

  </div>
</div>
