
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Agua Gold</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;" routerLink="/main">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/client">
              <span data-feather="file"></span>
              Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/mainproducto">
              <span data-feather="shopping-cart"></span>
              Productos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/Reporte">
              <span data-feather="bar-chart-2"></span>
              Reporte
            </a>
          </li>

        </ul>

      </div>
    </nav>
    ---
    layout: examples
    title: Checkout example
    extra_css: "form-validation.css"
    extra_js: "form-validation.js"
    body_class: "bg-light"
    ---

    <div class="container">
      <div class="py-5 text-center">
        <h3>Nuevo Pedido</h3>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Pedidos Anteriorers</span>
          </h4>
          <ul class="list-group mb-3">
            <li *ngFor="let p of productosPedido | async" class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{p.nombreproducto}}</h6>
                <small class="text-muted">{{p.cantidad}}</small>
              </div>
              <span class="text-muted">{{p.precio * p.cantidad}}</span>
            </li>




          </ul>


        </div>
        <div class="col-md-8 order-md-1">

          <div class="card">
            <div class="card-header">
              Datos de Cliente
            </div>
            <div class="card-body">
              <h5 class="card-title">Nombre: {{cliente.nombre+" "+cliente.apellido }}</h5>
              <p class="card-text">Dirección: {{cliente.calle+" "+cliente.numero+" "+cliente.extra}}</p>
              <p class="card-text">Comuna: {{cliente.comuna}}</p>

            </div>
            <ngb-toast
              *ngIf="this.tostada"
              [delay]="500"
              [autohide]="true"
              (ariaLive) = "alert"

            >

              <div>
                Producto Eliminado
              </div>
            </ngb-toast>
            <h3>Detalle de Pedido</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col">Eliminar</th>


                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of productosPedido | async; index as i ">
                    <th scope="row">{{ i + 1}}</th>
                    <th>{{p.nombreproducto}}</th>
                    <th>{{p.cantidad}}</th>
                    <th>{{p.precio}}</th>
                    <th>{{p.precio*p.cantidad}}</th>
                    <th><fa-icon style="color: red;" [icon]="['fas','times']" (click)="borrarProducto(p.id)"></fa-icon></th>
                  </tbody>

              </table>
          </div>
            <hr class="mb-4">
            <div>
              <agm-map [latitude]="-33.492246" [longitude]="-70.651889" [zoom]="15">

        <agm-marker [latitude]="cliente.lat" [longitude]="cliente.lng"></agm-marker>
      </agm-map>
              </div>

            <button class="btn btn-danger btn-lg btn-block"  (click)="cancelaPedido(idPedido)">Cancelar Producto</button>

        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">2019</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

  </div>


</div>
